@model IEnumerable<WebApplicationOrder.Models.DBEntities.OrderDetail>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>


<div class="row">
    <p class="col-md-6">
        <a asp-action="Create" class="btn btn-success btn-sm">Add Order Details</a>
    </p>

    <div class="col-md-4">
        <form class="d-flex" asp-action="Index" asp-controller="OrderDetails">
            <input name="searchCustomerinOrder" class="form-control me-1" type="search" placeholder="Search by Customer" aria-label="Search" />
            <button class="btn btn-dark" type="submit"> Search </button>

        </form>

    </div>
    <div class="col-md-2">
        <a asp-action="Index" class="text-dark"> Back to list</a>

    </div>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderedDetailsId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderMaster.CustomerID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.ItemDesc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.ItemCost)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderedDetailsId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderMaster.OrderId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderMaster.CustomerID)
                </td>

            <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemDesc)
            </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemCost)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cost)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.OrderedDetailsId" class="btn btn-primary btn-sm">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.OrderedDetailsId" class="btn btn-info btn-sm">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.OrderedDetailsId" class="btn btn-danger btn-sm">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
